<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>

    h1 {
      color: #004284;
    }

    h4 {
      color: #005EB8;
    }
    p, h3 {
      color: #444444;
    }

    strong {
      color: #2e2e2e;
    }

  </style>

</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="5" cellspacing="10" width="500">
  <tbody>
  <tr>
    <td>
      <h1>Meeting Reminder</h1>
      <h3><%= town %> Area</h3>
    </td>
  </tr>
  <tr>
    <td bgcolor="white" align="left" style="padding: 10px 10px 8px 5px; font-size:1.4rem;">
      <h4>MEETING DETAILS</h4>
      <p><strong>DPS: </strong> <%= dps %></p>
      <p><strong>Team Leader:</strong> <%= team_leader %></p>
      <p><strong>Date & Time:</strong> <%= meeting_date %></p>
      <% if (location_name) { %>
      <p><strong>Location Name:</strong> <%= location_name %></p>
      <% } %>
      <p><strong>Location:</strong> <%= location %>
        <% if (cross_street) { %>
        near <%= cross_street %>
        <% } %>
        in <%= town %></p>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 10px 8px 5px;font-size:1.4rem;">

      <h4>DAMAGE INFORMATION</h4>
      <p><strong>Damage Report #:</strong> <%= heath_report %></p>
      <p><strong>Locate Technician:</strong> <span><%= locate_technician %></span></p>
      <p><strong>Facility:</strong> <%= facility %></p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
